<article>
    <header>
        <h3>This is the Weather Stats Component inside <em>Sample-module</em></h3>
    </header>
    
    <section>   
        <img src="icons/sunny.svg" alt="Sunny icon" height="100" width="100">

        <p #weatherPara>Weather :</p>
        <ul>
            <li>Temperature :&#9; {{weatherStats.temperature}}</li>
            <li>Humidity :&#9; {{weatherStats.humidity}}</li>
            <li>Precipatation :&#9;  {{weatherStats.precipatation}}</li>
            <li>Day :&#9;  {{weatherStats.day}}</li>
            
        </ul>

    </section>

</article>


