<article>
  <header>
    <h4>Smart Component</h4>
  </header>

  <p>Hey value from child component : {{valueFromChlid}}</p>
</article>

<app-dumb-component [data]="valueToDisplay" (valueToSend)="takeValue($event)"> 

  <p>--------------------------------------------------------------------------------</p>
  <i>This HTML is passed from Smart-Compoent and is displayed in Child component with the help of content-projection.</i>
  <p>--------------------------------------------------------------------------------</p>

</app-dumb-component>
